[
    {kernel, [
        {logger_level, all},
        {logger, [
            {handler, default, logger_std_h, #{formatter => {
              logger_formatter, #{
                single_line => true,
                legacy_header => false
              }}%,
              %filters => [{progress,{fun logger_filters:progress/2, stop}}]
          }}
        ]}
    ]},
    {sasl, [
      {sasl_error_logger, {file, "sasl.log"}}
      ]}
].
